{% extends "base.html" %}

{% block title %}
  Suppression du {{object}}
{% endblock %}

{% block container %}
{% load crispy_forms_tags %}
<div class="row">
  <div class="col-6 offset-3">
    <h2>Suppression du {{object}}</h2>
    <form method="post">
    {% csrf_token %}
    <span>Êtes-vous sûr de vouloir supprimer le {{object}}</span> <br> <br>
    <button style="float:right" type="submit" class="btn btn-danger">Supprimer</button>
  </form>
  </div>
</div>
{% endblock %}


{% block script %}
<script type="text/javascript">
  $(document).ready(function() {
    $('#navbar').removeClass('bg-dark').addClass('bg-warning');
    $('#navbar').removeClass('navbar-dark').addClass('navbar-light');
  });
</script>
{% endblock %}
