{% extends "base.html" %}
{% load static %}

{% block title %}
  Détail du {{object}}
{% endblock %}

{% block css %}
<style media="screen">
.gray{
  color:gray;
}
.red{
  color:red;
  background-color: #1110;
}
</style>
{% endblock %}

{% block container %}
<div class="row">
  <div class="col-10 offset-1">

    <h2>Détail du {{object}}</h2>
<br>
    <div class="row">
      <div class="col-4 offset-8" style="float:right">
        <button class="btn btn-info" onclick="location.href='{{object.get_update_url}}'">Modifier</button>
        <button class="btn btn-danger" onclick="location.href='{{object.get_delete_url}}'">Supprimer</button>
      </div>
    </div>

    <br><br><br>
    <div class="row">
      <div class="col-2">
        <h4 class="gray">Evolution</h4>
      </div>
      <div class="col-4">
        <b>{{object.evolution}}</b>
      </div>
      <div class="col-2">
        <h4 class="gray">Rendez-Vous</h4>
      </div>
      <div class="col-4">
        <b>{{object.date_rdv}}</b>
      </div>
    </div>


    <hr>
    <h4 class="gray">Informations</h4>
    <div class="row">
      <div class="col-6">
        Patient: <b>{{object.consultation.patient}}</b> <a data-toggle="tooltip" data-placement="left" title="Patient {{object.consultation.patient}}" href="{{object.consultation.patient.get_detail_url}}"><i class="fas fa-user-injured fa-2x"></i></a><br>
        Consultation: <b>{{object.consultation}}</b> <a data-toggle="tooltip" data-placement="left" title="{{object.consultation}}" href="{{object.consultation.get_detail_url}}"><i class="fas fa-notes-medical fa-2x"></i></a><br>
        Date du controle: <b>{{object.date}}</b><br><br>
        Date du Système: {{object.timestamp|date:'l d F Y à G:i:s'}} <br>
      </div>
      <div class="col-6">
        <h4 class="gray">Conduite à tenir</h4>
        <b>{{object.cat}}</b> <br>
        {% if object.a_operer %}
          <div class="red ">
            <b style="float:right">
            <h5 class="">À opérer <i class="fas fa-procedures"></i></h5>
            <p class=""> le {{object.date_rdv}}</p>
            </b>
          </div>
        {% endif %}
      </div>
    </div>

  </div>
</div>
{% endblock %}


{% block script %}
<script type="text/javascript">
  $(document).ready(function() {
    $('#navbar').removeClass('bg-dark').addClass('bg-warning');
    $('#navbar').removeClass('navbar-dark').addClass('navbar-light');
  });
</script>
{% endblock %}
