
<form id="controle-create-form" method="post">
  {% csrf_token %}
  <input hidden type="text" maxlength="250" name="consultation" value="{{consultation.pk}}"> <br>
  <label>Date du contrôle* </label><input required type="date" name="date" class="form-control"> <br>
  <h5 class="form-title">Evolution*</h5>
  <textarea required type="text" maxlength="250" name="evolution" placeholder="Evoliution du patient..." class="form-control"></textarea> <br>
  <hr>
  <h5 class="form-title">Conduite à tenir*</h5>
  <textarea required type="text" maxlength="250" name="cat" placeholder="Conduite à tenir..." class="form-control"></textarea> <br>
  <input type="checkbox" name="a_operer"  > <label style="color:red;"> <b>À opérer </b></label> <br>
  <hr>
  <h5 class="form-title">RDV</h5>
  <label>Date du prochain RDV* </label><input required type="date" name="date_rdv" class="form-control"> <br>

  <button style="float:right;" type="submit" class="btn btn-success">Ajouter</button>
</form>
