
.container-contact-us{
      background-color:rgba(30, 30, 30, 0.5);
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      color : white;
      width : 100%;
      margin-bottom: 0px;
    }
    #page-container {
      background-color: rgba(240, 240, 240, 0.5);
      position: relative;
      min-height: 100vh;
    }

    #content-wrap {
      padding-bottom: 2.5rem;    /* Footer height */
    }

    #footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 2.5rem;            /* Footer height */
    }

input[name=nom],input[name=prenom]{
  text-transform: capitalize;
}

.pulse {
  -webkit-animation: pulse 1.5s infinite;
}


@-webkit-keyframes pulse {
  0% {
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  70% {
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
  }
  100% {
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
  }
}

pre {
  display: inherit ;
  padding: inherit  ;
  margin: inherit;
  font-size: inherit ;
  line-height: inherit  ;
  color: inherit   ;
  word-break: break-all;
  word-wrap: break-word;
  background-color: inherit;
  border: inherit;
  border-radius: inherit;
}
