
.container-contact-us{
      background-color:rgba(30, 30, 30, 0.5);
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      color : white;
      width : 100%;
      margin-bottom: 0px;
    }


footer{
  position:static;
  width: 100%;
  bottom: -100px;
}

.link-about-us{
  text-decoration: none;
  color: #eeeeee;
}

.link-about-us:hover{
  text-decoration: none;
  color: #374760;
}

.social-links a{
  text-decoration: none;
  color: #ffff;
}

.social-links a:hover{
  text-decoration: none;
  color: #374760;
}
