{% extends "base.html" %}

{% block title %}
  Suppression de la {{object}}
{% endblock %}

{% block container %}
{% load crispy_forms_tags %}
<div class="row">
  <div class="col-6 offset-3">
    <h2>Suppression de la {{object}}</h2>
    <form method="post">
    {% csrf_token %}
    <span>Êtes-vous sûr de vouloir supprimer la {{object}}</span>
    <div class="alert alert-danger" role="alert">
      Tous les contrôles associés seront perdus!
    </div>
    <button style="float:right" type="submit" class="btn btn-danger">Supprimer</button>
  </form>
  </div>
</div>
{% endblock %}


{% block script %}
<script type="text/javascript">
  $(document).ready(function() {
    $('#navbar').removeClass('bg-dark').addClass('bg-success');
  });
</script>
{% endblock %}
