<style media="screen">
  .form-title{
    color: gray;
  }
</style>

<form id="consultation-create-form" method="post">
  {% csrf_token %}
  <input hidden type="text" maxlength="250" name="patient" value="{{patient.pk}}"> <br>
  <label>Date de la consultation* </label><input required type="date" name="date" class="form-control"> <br>
  <hr>
  <h5 class="form-title">Clinique:</h5>
  <label>Motif* </label><input required type="text" maxlength="250" name="motif" placeholder="Motif de la consultation" class="form-control"> <br>
  <label>Signe fonctionnel </label><textarea type="text" maxlength="250" name="signe_foncionnel" placeholder="Signe foncionnel" class="form-control"></textarea> <br>
  <label>Signe physique </label><textarea type="text" maxlength="250" name="signe_physique" placeholder="Signe physique" class="form-control"></textarea> <br>
  <label>Biologie* </label><textarea required type="text" maxlength="250" name="biologie" placeholder="Biologie" class="form-control"></textarea> <br>
  <label>Radiologie* </label><textarea required type="text" maxlength="250" name="radiologie" placeholder="Radiologie" class="form-control"></textarea> <br>
  <label>Autre </label><textarea type="text" maxlength="250" name="autre" placeholder="Autre" class="form-control"></textarea> <br>
  <hr>
  <h5 class="form-title">Diagnostic*</h5>
  <textarea required type="text" maxlength="250" name="diagnostic" placeholder="Diagnostic du médecin..." class="form-control"></textarea> <br>
  <hr>
  <h5 class="form-title">Conduite à tenir*</h5>
  <textarea required type="text" maxlength="250" name="cat" placeholder="Conduite à tenir..." class="form-control"></textarea> <br>
  <input type="checkbox" name="a_operer"  > <label style="color:red;"> <b>À opérer </b></label> <br>
  <hr>
  <h5 class="form-title">RDV</h5>
  <label>Date du prochain RDV* </label><input required type="date" name="date_rdv" class="form-control"> <br>

  <button style="float:right;" type="submit" class="btn btn-success">Ajouter</button>
</form>
