{% extends "base.html" %}
{% load static %}

{% block title %}
  Détail de la {{object}}
{% endblock %}

{% block css %}
  <style >
    .table-wrapper-scroll-y {
      display: block;
      max-height: 600px;
      overflow-y: auto;
      -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    .gray{
      color:gray;
    }
    .red{
      color:red;
      background-color: #1110;
    }
  </style>
{% endblock %}

{% block container %}
<div class="row">
  <div class="col-10 offset-1">
    <h2>Détail de la {{object}}</h2>

    <div class="row">
      <div class="col-4 offset-8" style="float:right">
        <button class="btn btn-info" onclick="location.href='{{object.get_update_url}}'">Modifier</button>
        <button class="btn btn-danger" onclick="location.href='{{object.get_delete_url}}'">Supprimer</button>
      </div>
    </div>
    <hr>
    <h4 class="gray">Clinique:</h4>
    <br>
    <div class="row">
      <div class="col-6">
        <div class="row">
          <div class="col-3">
            Motif: <br>
            Biologie: <br>
            Radiologie: <br>
          </div>
          <div class="col-6">
            {{object.motif}} <br>
            <pre>{{object.biologie}}</pre> <br>
            <pre>{{object.radiologie}}</pre> <br>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-4">
            {% if object.signe_foncionnel %}Signe fonctionnel: <br>{% endif %}
            {% if object.signe_physique %}Signe physique: <br>{% endif %}
            {% if object.autre %}Autre: <br> {% endif %}
          </div>
          <div class="col-8">
            {% if object.signe_foncionnel %}<pre>{{object.signe_foncionnel}}</pre> <br>{% endif %}
            {% if object.signe_physique %}<pre>{{object.signe_physique}}</pre> <br>{% endif %}
            {% if object.autre %}<pre>{{object.autre}}</pre> <br> {% endif %}
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <br>
      <div class="col-2">
        <h4 class="gray">Diagnostic</h4>
      </div>
      <div class="col-4">
        <b><pre>{{object.diagnostic}}</pre></b>
      </div>
      <div class="col-2">
        <h4 class="gray">Rendez-Vous</h4>
      </div>
      <div class="col-4">
        <b>{{object.date_rdv}}</b>
      </div>
    </div>

    <hr>
    <h4 class="gray">Informations</h4>
    <div class="row">
      <div class="col-6">
        Patient: <b>{{object.patient}}</b> <a data-toggle="tooltip" data-placement="left" title="Patient {{object.patient}}" href="{{object.patient.get_detail_url}}"><i class="fas fa-user-injured fa-2x"></i></a><br>
        Date de la consultation: <b>{{object.date}}</b><br><br>
        Date du Système: {{object.timestamp|date:'l d F Y à G:i:s'}} <br>
      </div>
      <div class="col-6">
        <h4 class="gray">Conduite à tenir</h4>
        <b> <pre>{{object.cat}}</b></pre><br>
        {% if object.a_operer %}
          <div class="red ">
            <b style="float:right">
            <h5 class="">À opérer <i class="fas fa-procedures"></i></h5>
            <p class=""> le {{object.date_rdv}}</p>
            </b>
          </div>
        {% endif %}
      </div>
    </div>


    {% if object.get_antecedents %}
    <hr>
    <h4>Liste des Antécédents:</h4> <br>
    <br>
    <div class="table-wrapper-scroll-y">
      <table  class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
         <thead class="thead-light">
           <tr>
             <th>Num</th>
             <th>Date</th>
             <th>Motif</th>
             <th></th>
           </tr>
         </thead>
         <tbody>
            {% for consultation in object.get_antecedents %}
              <tr>
                <td>{{consultation.get_num}}</td>
                <td>{{consultation.date}}</td>
                <td>{{consultation.motif}}</td>
                <td> <a data-toggle="tooltip" data-placement="left" title="{{consultation}}" href="{{consultation.get_detail_url}}"><i class="fas fa-notes-medical fa-2x"></i></a> </td>
              </tr>
            {% endfor %}
         </tbody>
       </table>
    </div>

    {% endif %}



    <hr>
    <h4>Liste des contrôles:</h4> <br>
    <button id="ajout-controle-btn" class="btn btn-outline-primary">Ajouter contrôle</button>
    <br><br>
    <div class="table-wrapper-scroll-y">
      <table  class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
         <thead class="thead-dark">
           <tr>
             <th>Num</th>
             <th>Date</th>
             <th>Date RDV</th>
             <th></th>
           </tr>
         </thead>
         <tbody>
            {% for controle in object.get_controles %}
              <tr>
                <td>{{controle.get_num}}</td>
                <td>{{controle.date}}</td>
                <td>{{controle.date_rdv}}</td>
                <td> <a data-toggle="tooltip" data-placement="left" title="{{controle}}" href="{{controle.get_detail_url}}"><i class="fas fa-stethoscope fa-2x"></i></a> </td>
              </tr>
            {% endfor %}
         </tbody>
       </table>
    </div>

  </div>
</div>
{% include "controle_modal.html" with consultation=object %}
{% endblock %}


{% block script %}
<script src="{% static 'scripts/controle/controle_create.js' %}" charset="utf-8"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('#navbar').removeClass('bg-dark').addClass('bg-success');
    $('#ajout-controle-btn').click(function () {
      $('#controle_modal').modal({})
    });
    var controle_create_api_url = '{{controle_create_api_url}}'
    controle_create_init(controle_create_api_url);
  });
</script>
{% endblock %}
