{% extends "base.html" %}

{% block title %}
  Suppression du parient {{object}}
{% endblock %}

{% block container %}
{% load crispy_forms_tags %}
<div class="row">
  <div class="col-6 offset-3">
    <h2>Suppression du parient {{object}}</h2>
    <form method="post">
    {% csrf_token %}
    <span>Êtes-vous sûr de vouloir supprimer le patient {{object}} N° {{object.pk}}</span>
    <div class="alert alert-danger" role="alert">
      Toutes les consultations et contrôles associés seront perdus!
    </div>
    <button type="submit" class="btn btn-danger">Supprimer</button>
  </form>
  </div>
</div>
{% endblock %}


{% block script %}
<script type="text/javascript">
  $(document).ready(function() {
    $('#navbar').removeClass('bg-dark').addClass('bg-primary');
  });
</script>
{% endblock %}
