{% extends "base.html" %}

{% block title %}
  Modification du patient {{object}}
{% endblock %}

{% block container %}
{% load crispy_forms_tags %}
<div class="row">
  <div class="col-6 offset-3">
    <h2>Modification du patient {{object}}</h2>
    <form method="post">
    {% csrf_token %}
    {{form|crispy}}
    <button type="submit" class="btn btn-info">Modifier</button>
  </form>
  </div>
</div>
{% endblock %}


{% block script %}
<script type="text/javascript">
  $(document).ready(function() {
    $('#navbar').removeClass('bg-dark').addClass('bg-primary');
  });
</script>
{% endblock %}
