{% extends "base.html" %}
{% load static %}

{% block title %}
  Liste des patients
{% endblock %}

{% block css %}
  <style >
    .table-wrapper-scroll-y {
      display: block;
      max-height: 600px;
      overflow-y: auto;
      -ms-overflow-style: -ms-autohiding-scrollbar;
    }
  </style>
{% endblock %}

{% block container %}
<div class="row">
  <div class="col-10 offset-1">
    <h2>Liste des patients</h2>

    {% include "patient_list_filter.html" %}
    <div id="patient-list-div">
      <i> <span id="patient-list-html-info"></span> </i>
      <div class="table-wrapper-scroll-y">
        <table id="patient_list-table" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
           <thead class="thead-dark">
             <tr>
                 <th>Nom</th>
                 <th>Prénom</th>
                 <th>Gendre</th>
                 <th>Age</th>
                 <th>Dernière visite</th>
                 <th></th>
             </tr>
           </thead>

           <tbody id='patient_list-tbody'>

           </tbody>
         </table>
      </div>
    </div>

    <i> <span id='display-empty'></span> </i> <br>
    <button id="navigation-fetch-data-btn-previous" type="button" class="btn btn-outline-dark"> Précédent </button>
    <button id="navigation-fetch-data-btn-next" type="button" class="btn btn-outline-dark"> Suivant </button>

  </div>
</div>
{% endblock %}


{% block script %}
  <script src="{% static 'scripts/patient/patient_list.js' %}"></script>
  <script src="{% static 'scripts/patient/patient_list_filter.js' %}"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#navbar').removeClass('bg-dark').addClass('bg-primary');
      var patient_list_api_url = '{{patient_list_api_url}}';
      var page_size = '{{page_size}}'
      init_patient_list(patient_list_api_url, page_size);
      decdetFilterInit();
    });
  </script>
{% endblock %}
