{% extends "base.html" %}
{% load static %}

{% block title %}
  Détail du patient {{object}}
{% endblock %}

{% block css %}
  <style >
    .table-wrapper-scroll-y {
      display: block;
      max-height: 600px;
      overflow-y: auto;
      -ms-overflow-style: -ms-autohiding-scrollbar;
    }
  </style>
{% endblock %}

{% block container %}
<div class="row">
  <div class="col-8 offset-2">
    <h2>Détail du patient {{object}}</h2>

    <div class="row">
      <div class="col-4 offset-8" style="float:right">
        <button class="btn btn-info" onclick="location.href='{{object.get_update_url}}'">Modifier</button>
        <button class="btn btn-danger" onclick="location.href='{{object.get_delete_url}}'">Supprimer</button>
      </div>
    </div>

    <h4>Etat civil:</h4>
    <br>
    <div class="row">
      <div class="col-6">
        <div class="row">
          <div class="col-5">
            Nom: <br>
            Prénom: <br>
            Date de naissance: <br>
            Gendre: <br>
          </div>
          <div class="col-6">
            {{object.nom}} <br>
            {{object.prenom}} <br>
            {{object.date_naissance}} <br>
            {% if object.gendre == 'F' %}
            <i class="fas fa-venus fa-1x"></i> Femme
            {% else %}
            <i class="fas fa-mars fa-1x"></i> Homme
            {% endif %}
            <br>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-4">
            {% if object.adresse %}Adresse: <br>{% endif %}
            {% if object.telephone %}N° Téléphone: <br>{% endif %}
            {% if object.profession %}Profession: <br><br>{% endif %}
            Date Système: <br>
          </div>
          <div class="col-8">
            {% if object.adresse %}{{object.adresse}} <br>{% endif %}
            {% if object.telephone %}{{object.telephone}} <br>{% endif %}
            {% if object.profession %}{{object.profession}} <br><br>{% endif %}
            {{object.timestamp|date:'l d F Y à G:i:s'}} <br>
          </div>
        </div>
      </div>
    </div>

    <hr>
    <h4>Liste des consultations:</h4> <br>
    <button id="ajout-consultation-btn" class="btn btn-outline-primary">Ajouter consultation</button>
    <br><br>
    <div class="table-wrapper-scroll-y">
      <table  class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
         <thead class="thead-dark">
           <tr>
             <th>Num</th>
             <th>Date</th>
             <th>Motif</th>
             <th></th>
           </tr>
         </thead>
         <tbody>
            {% for consultation in object.get_consultations %}
              <tr>
                <td>{{consultation.get_num}}</td>
                <td>{{consultation.date}}</td>
                <td>{{consultation.motif}}</td>
                <td> <a data-toggle="tooltip" data-placement="left" title="{{consultation}}" href="{{consultation.get_detail_url}}"><i class="fas fa-notes-medical fa-2x"></i></a> </td>
              </tr>
            {% endfor %}
         </tbody>
       </table>
    </div>

  </div>
</div>
{% include "consultation_modal.html" with patient=object %}
{% endblock %}


{% block script %}
  <script src="{% static 'scripts/consultation/consultation_create.js' %}" charset="utf-8"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#navbar').removeClass('bg-dark').addClass('bg-primary');
      $('#ajout-consultation-btn').click(function () {
        $('#consultation_modal').modal({})
      });
      var consultation_create_api_url = '{{consultation_create_api_url}}'
      consultation_create_init(consultation_create_api_url);
    });
  </script>
{% endblock %}
