<style media="screen">
  label{
    float :right;
  }
</style>
<label style="float:right">
  <a id="patient-filter-toggle-btn" href="#" ><i class="fas fa-filter"></i></a>
  Filtres
</label>
<br>
<br>
<form id="patient-list-filter-form" style="display:none">
  <hr>
  <div class="row form-group">
    <div class="col-1 offset-">
      <label>Nom:</label>
    </div>
    <div class="col-2">
      <input type="text" name="nom" placeholder="Nom du patient" class="form-control">
    </div>
    <div class="col-1 offset-">
      <label>Prénom:</label>
    </div>
    <div class="col-2">
      <input type="text" name="prenom" placeholder="Prénom du patient" class="form-control">
    </div>
  <!-- </div> -->
  <!-- <div class="row form-group"> -->
    <div class="col-1 offset-">
      <label>Age:</label>
    </div>
    <div class="col-2">
      <input type="number" min="0" name="age" placeholder="Age du patient" class="form-control">
    </div>
    <div class="col-1 offset-">
      <label>Gendre:</label>
    </div>
    <div class="col-2">
      <select class="form-control" name="gendre">
        <option value="">----</option>
        <option value="H">Homme</option>
        <option value="F">Femme</option>
      </select>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-1 offset-">
      <label>N° Tél:</label>
    </div>
    <div class="col-2">
      <input type="text" name="telephone" value="" class="form-control" placeholder="N° Téléphone">
    </div>
    <div class="col-2 offset-7">
      <button type="submit" class="btn btn-primary">Filtrer</button>
      <button type="reset" class="btn btn-secondary">Annuler</button>
    </div>
  </div>
  <hr>
</form>
