<!DOCTYPE html>
{% load static %}
  <html>
    <head>
      <link rel="icon" href={% static "img/favicon.ico" %}>
      <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" >
      <link rel="stylesheet" href="{% static 'lib/fontawesome/css/all.min.css' %}">
      <link rel="stylesheet" href="{% static 'styles/base/base.css' %}" >
      <style media="screen">
      body{
        background-image: url("{% static 'img/bg1.jpg' %}");
        background-repeat: round;
      }
      </style>
      {% block css %}{% endblock %}
      <title>{% block title %} Tabib  {% endblock %}</title>
    </head>

    <body>
      {% include "navbar.html" with user=request.user %}
      <div class="container-fluid" id="page-container">
        <a class="to-hide-on-login" onclick="history.go(-1)" style="cursor: pointer;"> <i class="fas fa-arrow-circle-left fa-3x"></i> </a>
        <a class="to-hide-on-login" onclick="history.go(+1)"style="float: right;cursor: pointer;" > <i class="fas fa-arrow-circle-right fa-3x"></i> </a>
 
        <div id="page-wrapper">
          <br><br><br>
          {% block container %}{% endblock %}
          <br><br><br>
        </div>
      </div>

      {% include "footer.html" %}

      <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
      <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
      {% block script %}

      {% endblock %}
    </body>
  </html>
