<style media="screen">
  .down{
    margin-bottom: -10px;
  }
</style>

 <footer class="container-fluid container-contact-us">
     <div class="row">
         <div class="col-10 offset-1">
           <div class="row">
             <div class="col-3 offset-1 down">
               <i class="fa fa-map-marker"></i>
               <span>Alger, Ben Aknoun</span>
             </div>
             <div class="col-3 offset-1 down">
               <i class="fa fa-phone"></i>
               <span>+213 541 543 357</span>
             </div>
             <div class="col-3 offset-1 down">
               <i class="fa fa-envelope"></i> Email:
               <span>fc_harouit@esi.dz</span>
             </div>
           </div>
           <hr>
         </div>
     </div>
 </footer>
