{% extends "base.html" %}
{% load dict_key %}
{% load last_visite %}
{% block css %}
  <style >
    .table-wrapper-scroll-y {
      display: block;
      max-height: 600px;
      overflow-y: auto;
      -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    .rdv-div{
      border-style: dashed;
    }

    .red{
      color: red;
    }
  </style>
{% endblock %}

{% block container %}
<div class="row">
  <div class="col-10 offset-1">
    <h2>Liste des Rendez-vous proches</h2> <br> <br>
    <div class="row">
      {% for date in dates %}
          <div class="col-6 border border-dark rounded">
            <b></b>
            RDV le <b> {{date}}</b> avec:<br><br>
            <div class="table-wrapper-scroll-y">
              <table  class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                 <thead class="thead-light">
                   <tr>
                     <th>Patient</th>
                     <th>Dernière visite</th>
                     <th></th>
                   </tr>
                 </thead>
                 <tbody>
                    {% for visite in rdvsCons|dict_key:date %}
                      <tr>
                        <td>{{visite.patient}} <a data-toggle="tooltip" data-placement="left" title="Patient {{visite.patient}}" href="{{visite.patient.get_detail_url}}"><i class="fas fa-user-injured fa-2x"></i></a></td>
                        <td>{{visite.patient|last_visite}}</td>
                        <td> <a data-toggle="tooltip" data-placement="left" title="{{visite}}" href="{{visite.get_detail_url}}" href="{{visite.get_detail_url}}"><i class="fas fa-notes-medical fa-2x"></i></a>
                          {% if visite.a_operer %}
                            <i class="fas fa-procedures fa-2x red pulse"></i>
                          {% endif %}
                        </td>
                      </tr>
                    {% endfor %}
                    {% for visite in rdvsCtrl|dict_key:date %}
                      <tr>
                        <td>{{visite.consultation.patient}} <a data-toggle="tooltip" data-placement="left" title="Patient {{visite.consultation.patient}}" href="{{visite.consultation.patient.get_detail_url}}"><i class="fas fa-user-injured fa-2x"></i></a></td>
                        <td>{{visite.consultation.patient|last_visite}}</td>
                        <td> <a data-toggle="tooltip" data-placement="left" title="{{visite}}" href="{{visite.get_detail_url}}"><i class="fas fa-stethoscope fa-2x"></i></i></a>
                          {% if visite.a_operer %}
                            <i class="fas fa-procedures fa-2x red pulse"></i>
                          {% endif %}
                        </td>
                      </tr>
                    {% endfor %}
                 </tbody>
               </table>
            </div>
          </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
