{% extends "base.html" %}

{% block title %} {{block.super}} Connexion{% endblock title %}

{% block css %}
<style media="screen">
  .login-div{
    background-color : rgba(250,250,250,0.8);
    border-radius : 20px;
  }
</style>
{% endblock css %}

{% block container %}
<div class="row">
  <div class="offset-4 text-center  col-4 login-div">
    <br>

    <h1> Se connecter </h1>
  {% if form.errors %}
  <p style="color:red">Erreur. votre nom d'utilisateur ou mot de passe est incorrect</p>
  {% endif %}

  {% if next %}
      {% if user.is_authenticated %}
      <script type="text/javascript">
        window.history.back();
      </script>
      <p>Vous n'avez pas l'accès</p>
      {% else %}
      <p>Connectez-vous pour continuer.</p>
      {% endif %}
  {% endif %}

  <form id="login-form" method="post" action="{% url 'login' %}">
  {% csrf_token %}

  <div class="form-group">
    {{ form.username.label_tag }}<br>
    {{ form.username }}
  </div>
  <div class="form-group">
    {{ form.password.label_tag }}<br>
    {{ form.password }}
  </div>

    <button type="submit" class="btn btn-outline-success">Connexion </button>
    <br><br><br>
  </form>
  <!--
  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">mot de passe perdu ? (pas encore traité)</a></p> -->
  </div>

</div>
{% endblock container %}
