{% load static %}

<style media="screen">
  a.disabled:not([href]){
    color: gray;
  }
  a.disabled:not([href]):hover{
    color: gray;
  }
</style>
    <nav id="navbar" class=" navbar navbar-expand-lg home-navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'home' %}"><i class="fas fa-clinic-medical fa-2x"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNavDropdown" class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto">
                
                <li class="nav-item dropdown">
                    <a href="" class="nav-link " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Patients <i class=" fas fa-angle-down"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      {% if user.is_authenticated %}
                      <a class="dropdown-item" href="{% url 'patient:list' %}"><i class="fas fa-list" ></i> Liste des patients</a>
                      <a class="dropdown-item" href="{% url 'patient:create' %}"><i class="fas fa-user-plus"></i> Nouveau patient</a>
                      {% else %}
                      <a class="dropdown-item disabled" ><i class="fas fa-list" ></i> Liste des patients</a>
                      <a class="dropdown-item disabled" ><i class="fas fa-user-plus"></i> Nouveau patient</a>
                      {% endif %}

                    </div>
                </li>
            </ul>
            <ul class="navbar-nav">
              <li class="nav-item active" style="margin-left:auto;">
                  <a href='' class="location-navigation" onclick="location.reload()" style="color: #f4f4f4;"><i class=" fas fa-redo fa-2x location-navigation-btn"></i></a>
              </li>

              {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a href="" class="nav-link " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {% if user.is_superuser %}
                      {{user}}
                      {% else %}
                      Dr. {{user.last_name}} {{user.first_name}}  <i class=" fas fa-angle-down"></i>
                      {% endif %}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                      {% if user.is_superuser %}
                        <a class="dropdown-item" href="{% url 'admin:index' %}">Administrer</a>
                      {% else %}
                        <a class="dropdown-item disabled">Administrer</a>
                      {% endif %}
                        <a class="dropdown-item" href="{% url 'logout' %}">Se déconnecter</a>
                    </div>
                </li>
              {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Se connecter</a>
                </li>
              {% endif %}
            </ul>
        </div>
    </nav>
